[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
django = "*"
python-dotenv = "*"
psycopg = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
inst_version = "3.12"
